<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <title>About</title>
</head>

<header>
  <nav class="header-nav">
      <div class="logo_header">
          <img src="../Assets/Logo.png" class="img-logo-header">
      </div>

      <div class="header-div">
          <a href="Index.html">Home</a>
          <a href="../Product/Index.html">Products</a>
          <a href="Contact.html">Contact</a>
          <a href="About.html">About</a>
      </div>
  </nav>
</header>

<body>
    <div class="div-box">
        <h1 class="div-title">Sobre nós</h1>
        <hr>
        <div class="div-text">
            <p> Na Vega Imports, estamos comprometidos em proporcionar uma experiência excepcional para todos os entusiastas de tecnologia e amantes de gadgets. Fundada em 2010 por um grupo de aficionados por tecnologia, nossa empresa nasceu da paixão por conectar as pessoas com os mais recentes e melhores acessórios para celular.</p>
    
            <p> Desde o início, nosso objetivo tem sido oferecer uma ampla seleção de produtos de alta qualidade que atendam às diversas necessidades e preferências de nossos clientes. Nossa loja oferece uma vasta gama de acessórios para celulares, desde capas de proteção e películas de vidro temperado até carregadores sem fio e fones de ouvido Bluetooth.</p>
            
            <p> Na Vega Imports, a inovação está no centro de tudo o que fazemos. Estamos constantemente explorando novas tecnologias e tendências para trazer os acessórios mais inovadores e funcionais para nossos clientes. Trabalhamos apenas com os melhores fabricantes e fornecedores para garantir que cada produto que vendemos atenda aos mais altos padrões de qualidade e durabilidade.</p>
            
            <p> Além de oferecer produtos de alta qualidade, estamos empenhados em proporcionar uma experiência de compra excepcional a cada cliente que entra em nossa loja. Nossa equipe dedicada de atendimento ao cliente está sempre disponível para ajudar e garantir que todas as necessidades e preocupações sejam atendidas.</p>
            
            <p> Na Vega Imports, a satisfação do cliente é nossa prioridade número um. Estamos constantemente buscando feedback e sugestões de nossos clientes para garantir que possamos continuar aprimorando e oferecendo a melhor experiência possível. Estamos empenhados em construir relacionamentos duradouros com nossos clientes e em ser uma marca em que eles possam confiar.</p>
            
            <p> Além disso, estamos comprometidos com a responsabilidade social e ambiental. Estamos empenhados em reduzir nosso impacto ambiental e contribuir positivamente para as comunidades em que operamos. Buscamos oportunidades para apoiar causas importantes e fazer a diferença no mundo ao nosso redor.</p>
            
            <p> Com uma visão para o futuro, estamos sempre olhando para novas oportunidades e parcerias para continuar crescendo e expandindo nossos negócios. Continuaremos a manter nosso compromisso com a excelência e a inovação, garantindo que nossos clientes tenham acesso aos melhores e mais recentes acessórios para celular.</p>
            
            <p> Junte-se a nós na TechGadget e descubra por que somos o destino preferido de acessórios para celular para milhares de clientes em todo o mundo.</p>
        </div>
    </div>  
</body>

<footer>
  <h5>Projeto alunos UVA ©2024</h5>
</footer>

</html>