<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <title>Contact</title>
</head>

<header>
  <nav class="header-nav">
      <div class="logo_header">
          <img src="../Assets/Logo.png" class="img-logo-header">
      </div>

      <div class="header-div">
          <a href="Index.html">Home</a>
          <a href="../Product/Index.html">Products</a>
          <a href="Contact.html">Contact</a>
          <a href="About.html">About</a>
      </div>
  </nav>
</header>

<body>
    <div class="div-box">
        <h1 class="div-title">Formas de contato</h1>
        <hr>
        <div class="div-text">
            <p>A comunicação é essencial em qualquer empreendimento. Na nossa empresa, oferecemos diversas formas de contato para garantir que nossos clientes possam nos alcançar de maneira rápida e eficaz.</p>
    
            <p>Telefone: Você pode nos ligar a qualquer momento do dia no número (123) 456-7890. Nossa equipe de atendimento ao cliente está sempre disponível para ajudar com qualquer dúvida ou problema que você possa ter.</p>
            
            <p>E-mail: Se preferir, também estamos disponíveis por e-mail. Basta enviar sua mensagem para contato@empresa.com e responderemos o mais rápido possível.</p>
            
            <p>Chat Online: Para questões urgentes ou para um suporte imediato, você pode utilizar nosso chat online em nosso site. Nossa equipe de suporte estará pronta para ajudar em tempo real.</p>
            
            <p>Redes Sociais: Mantenha-se atualizado sobre nossas novidades e promoções seguindo nossas redes sociais. Nosso perfil no Instagram (@empresa) e Facebook (Empresa) está cheio de conteúdo interessante e útil.</p>
            
            <p>Visita Presencial: Se preferir um contato mais pessoal, você também pode nos visitar em nosso escritório localizado na Rua das Flores, 1234, Cidade Central. Estamos abertos de segunda a sexta-feira, das 9h às 18h.</p>
            
            <p>Independentemente da forma que escolher, estamos aqui para ajudar e garantir uma experiência excelente para todos os nossos clientes. Não hesite em nos contatar!"</p>
            
        </div>
    </div>  
</body>

<footer>
  <h5>Projeto alunos UVA ©2024</h5>
</footer>

</html>